## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## Rider
.idea/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Docker
docker-compose.override.yml

## User-specific
appsettings.*.local.json
